<table class="my-table width-100per normal-font-size" cellpadding="15" *ngIf="data">
  <thead>
  <tr class="">
    <th>Тип поиска</th>
    <th>Запрос</th>
    <th>Дата</th>
    <th>Найдено</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <!--
      Если !!data === true и массив пуст, то данных нет
    -->
    <td class="text-center" colspan="4" *ngIf="!data?.length">
      <div class="horizontal-divider-10"></div>
      <span>Ничего не найдено</span>
      <div class="horizontal-divider-10"></div>
    </td>
  </tr>
  <tr *ngFor="let rowData of data">
    <td>{{searchTypesMap ? searchTypesMap.get(rowData.search_type) : rowData.search_type}}</td>
    <td>{{rowData.search_string}}</td>
    <td>{{rowData.search_start | myDate}}</td>
    <td>{{rowData.found}}</td>
  </tr>
  </tbody>
</table>
