<div class="vertical row align-items-center width-full-screen">
  <div class="horizontal-divider-8"></div>
  <span class="huge-font-size text-center">Результаты поиска</span>
  <div class="horizontal-divider-8"></div>
  <div class="row">
    <label class="row justify-content-center align-items-center">
      <span class="big-font-size">Тип поиска:</span>
      <div class="vertical-divider-2"></div>
      <select (change)="changeSearchType($event.target.value)">
        <optgroup>
          <option [value]="type" *ngFor="let type of searchTypes"
                  [selected]="type === currentSearchType">
            {{searchTypesMap.get(type)}}
          </option>
        </optgroup>
      </select>
    </label>
  </div>
  <!--
    Кейсы:

    data === null           =>      запрос ушел на сервер и ждем ответа, показываем "Загрузка..."
    data === undefined      =>      запрос отвалился с ошибкой, показываем "Сервер недоступен" и кнопку
    !!data === true         =>      данные пришли, все ок, показываем таблицу
  -->
  <div class="horizontal-divider-8"></div>
  <span class="big-font-size text-center" *ngIf="data === null">Загрузка...</span>
  <!--
    Не вижу смысла убирать разметку из ng-template в отдельный компонент,
    потому что по сути ничего не поменяется, но при этом придется дописать
    EventEmitter, чтобы кидаться событием для обновления, так как refreshData()
    у нас все равно снаружи
  -->
  <ng-template [ngIf]="data === undefined">
    <div class="horizontal-divider-10"></div>
    <div class="vertical row align-items-center">
      <span class="normal-font-size text-center">Сервер временно недоступен</span>
      <div class="horizontal-divider-4"></div>
      <button class="my-button normal-font-size" type="button" (click)="refreshData()">Повторить</button>
    </div>
  </ng-template>
  <app-table class="width-90per" *ngIf="data" [data]="data" [searchTypesMap]="searchTypesMap"></app-table>
</div>
