@charset "UTF-8";
* {
  font-family: Arial; }

.row {
  display: flex;
  flex-wrap: wrap; }

.vertical {
  flex-direction: column; }

/*
  ╨ж╨╡╨╜╤В╤А╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ ╨┐╨╛ ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╨╕ (╨╡╤Б╨╗╨╕ row) ╨╕╨╗╨╕ ╨┐╨╛ ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╨╕ (╨╡╤Б╨╗╨╕ column)
*/
.justify-content-center {
  justify-content: center; }

/*
  ╨ж╨╡╨╜╤В╤А╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ ╨┐╨╛ ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╨╕ (╨╡╤Б╨╗╨╕ row) ╨╕╨╗╨╕ ╨┐╨╛ ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╨╕ (╨╡╤Б╨╗╨╕ column)
*/
.align-items-center {
  align-items: center; }

/*
  ╨а╨░╤Б╤В╤П╨│╨╕╨▓╨░╨╜╨╕╨╡ ╤Н╨╗╨╡╨╝╨╡╨╜╤В ╨╜╨░ ╨▓╤Б╤О ╨╜╨╡╨╖╨░╨╜╤П╤В╤Г╤О ╨▓╤Л╤Б╨╛╤В╤Г / ╤И╨╕╤А╨╕╨╜╤Г ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П
*/
.flex-1 {
  flex: 1; }

.width-full-screen {
  width: 100vw; }

.width-90per {
  width: 90%; }

.width-100per {
  width: 100%; }

.text-center {
  text-align: center; }

.huge-font-size {
  font-size: 4.5vh; }

.big-font-size {
  font-size: 3.7vh; }

.normal-font-size {
  font-size: 2.5vh; }

/*
  ╨У╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╤Л╨╡ / ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╤М╨╜╤Л╨╡ ╤А╨░╨╖╨┤╨╡╨╗╨╕╤В╨╡╨╗╨╕ ╤А╨░╨╖╨╜╤Л╤Е ╤А╨░╨╖╨╝╨╡╤А╨╛╨▓ ╨╛╤В╨╜╨╛╤Б╨╕╤В╨╡╨╗╤М╨╜╨╛ ╤А╨░╨╖╨╝╨╡╤А╨░ ╤Н╨║╤А╨░╨╜╨░
*/
.horizontal-divider-2 {
  height: 2vh; }

.horizontal-divider-4 {
  height: 4vh; }

.horizontal-divider-6 {
  height: 6vh; }

.horizontal-divider-8 {
  height: 8vh; }

.horizontal-divider-10 {
  height: 10vh; }

.vertical-divider-2 {
  width: 2vw; }

.vertical-divider-4 {
  width: 4vw; }

.vertical-divider-6 {
  width: 6vw; }

.vertical-divider-8 {
  width: 8vw; }

.vertical-divider-10 {
  width: 10vw; }

.my-table {
  border-collapse: collapse;
  border: solid 2px blue; }

.my-button {
  width: 20vh;
  padding: 2vh;
  background-color: steelblue;
  color: white;
  border: solid 2px #333333;
  outline: none; }
  .my-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
    border-color: black; }

td {
  border-top: solid 1px black;
  /*
    ╨Я╤А╨╕╨╝╨╡╨╜╤П╨╡╤В╤Б╤П ╨║╨╛ ╨▓╤Б╨╡╨╝ ╤П╤З╨╡╨╣╨║╨░╨╝, ╨╜╨░╤З╨╕╨╜╨░╤П ╤Б╨╛ ╨▓╤В╨╛╤А
  */ }
  td:nth-child(1n + 2) {
    border-left: solid 1px black; }

th:nth-child(1n + 2) {
  border-left: solid 1px black; }

/*# sourceMappingURL=styles.css.map */
