* {
  font-family: Arial;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

/*
  Центрирование по горизонтали (если row) или по вертикали (если column)
*/
.justify-content-center {
  justify-content: center;
}

/*
  Центрирование по вертикали (если row) или по горизонтали (если column)
*/
.align-items-center {
  align-items: center;
}

/*
  Растягивание элемент на всю незанятую высоту / ширину родителя
*/
.flex-1 {
  flex: 1;
}

.width-full-screen {
  width: 100vw;
}

@each $width-size in 90, 100 {
  .width-#{$width-size}per {
    width: $width-size * 1%;
  }
}

.text-center {
  text-align: center;
}

.huge-font-size {
  font-size: 4.5vh;
}

.big-font-size {
  font-size: 3.7vh;
}

.normal-font-size {
  font-size: 2.5vh;
}

/*
  Горизонтальные / вертикальные разделители разных размеров относительно размера экрана
*/
@each $divider-size in 2, 4, 6, 8, 10 {
  .horizontal-divider-#{$divider-size} {
    height: #{$divider-size}vh;
  }
}

@each $divider-size in 2, 4, 6, 8, 10 {
  .vertical-divider-#{$divider-size} {
    width: #{$divider-size}vw;
  }
}

.my-table {
  border-collapse: collapse;

  border: solid 2px blue;
}

.my-button {
  width: 20vh;

  padding: 2vh;

  background-color: steelblue;
  color: white;

  border: solid 2px lighten(black, 20);
  outline: none;

  &:hover {
    cursor: pointer;

    background-color: dodgerblue;
    border-color: black;
  }
}

td {
  border-top: solid 1px black;

  /*
    Применяется ко всем ячейкам, начиная со второй
  */
  &:nth-child(1n + 2) {
    border-left: solid 1px black;
  }
}

th:nth-child(1n + 2) {
  border-left: solid 1px black;
}
